<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Banking</title>
</head>

<header style="text-align: left; padding: 10px;">
    <h1 class="money-text" style="margin-bottom: 15px;">The United Bank of Money</h1>

    <div style="display: flex; justify-content: space-between; align-items: center;">
        <nav>
            <ul style="display: flex; list-style: none; margin: 0; padding: 0;">
                <li style="margin-right: 20px; font-size: 25px;"><a href="{{ url_for('home') }}">Home</a></li>

                {% if is_admin is not none %}
                    {% if is_admin == 1 %}
                        <li style="margin-right: 20px; font-size: 25px;"><a href="{{ url_for('accounts') }}">Accounts</a></li>
                        <li style="margin-right: 20px; font-size: 25px;"><a href="{{ url_for('approve') }}">Approve Accounts</a></li>
                    {% else %}
                        <li style="margin-right: 20px; font-size: 25px;"><a href="{{ url_for('your_account') }}">Your Accounts</a></li>
                        <li style="margin-right: 20px; font-size: 25px;"><a href="{{ url_for('transaction') }}">Perform Transaction</a></li>
                        <li style="margin-right: 20px; font-size: 25px;"><a href="{{ url_for('transfer') }}">Send Money</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>

        <div class="buttons" style="display: flex; gap: 10px;">
            {% if logged_in == True %}
                <button><a href="{{ url_for('log_out') }}">Logout</a></button>
            {% elif logged_in == False %}
                <button><a href="{{ url_for('gologin') }}">Login</a></button>
                <button><a href="{{ url_for('signup') }}">Create Account</a></button>
            {% endif %}
        </div>
    </div>
</header>



<body>
    {% block body %}
    {% endblock %}

</body>
</html>